.container {
  position: fixed;
  width: 100%;
  height: 100%;
}

.chat-input {
  padding-top: 20px;
  width: 80%;
}
.main-card {
  height: 100%;
}
.footer-container {
  position:fixed;
  bottom:25px;
  left:25px;
  right:25px;
}
